header.site-header {
  background-color: #0039a6;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
}

header.site-header img.header-logo {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  object-fit: contain;
}

header.site-header h1.header-title {
  flex-grow: 1;
}

main.content {
  margin: 16px;
  margin-top: 80px;
  min-height: 100%;
}

footer {
  color: #fff;
  background-color: #0039a6;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

footer .site-footer {
  margin: 20px 0;
  font-size: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer hr.divider {
  border-color: #999;
}

@media (min-width: 992px) {
  header.site-header {
    height: 96px;
    min-height: 96px;
    max-height: 96px;
  }
  header.site-header img.header-logo {
    width: 96px;
    height: 96px;
    margin-left: 8px;
    margin-right: 24px;
  }
  main.content {
    margin-top: 112px;
  }
}
